<head>
  <title>Arun Gupta's GitHub Pages</title>
</head>

<body>
  <h1>Arun Gupta's GitHub Pages</h1>

  <ul>
  {% assign subdirs = site.static_files | map: "path" | group_by_exp: "path", "path | split: '/' | pop | join: '/'" | map: "name" %}
  {% for dir in subdirs %}
    <li><a href="{{ site.baseurl | escape}}{{ dir | escape}}">{{ dir | escape}}</a></li>
  {% endfor %}
</ul>

  <ul>
    {% for url in site.static_files %}
    <li><a href="{{ site.baseurl | escape }}{{ url.path | escape }}">{{ url.path | escape }}</a> </li>
    {% endfor %}
  </ul>
</body>